.friend-card > .requests {
  margin: 5px;
}

.friend-card > .friend-info {
  display: flex;
  align-items: center;
}

.friend-info > img {
  border-radius: 50%;
  height: 72px;
  margin: 1rem 0.5rem;
}

.friend-info:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.num-of-friends {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.friend-request {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr auto;
  background-color: aliceblue;
  align-items: center;
  height: 64px;
}

.friend-request > p {
  font-weight: bold;
}

.friend-request > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.friend-request > div > * {
  /* background-color: rgb(149, 236, 149); */
  border: none;
  border-radius: 0.5rem;
  padding: 5px;
  margin: 0 4px;
  width: 72px;
  height: 48px;
}

.friend-request > div > :first-child {
  background-color: rgb(149, 236, 149);
}

.friend-request > div > :last-child {
  background-color: rgb(236, 149, 149);
}

.friend-request > div > :first-child:active {
  background-color: rgb(128, 201, 128);
}

.friend-request > div > :last-child:active {
  background-color: rgb(144, 76, 76);
}
